<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.11" targetFramework="net46" />
  <package id="DotNetZip" version="1.13.3" targetFramework="net46" />
  <package id="Gnostice.DocumentStudio.Foundation" version="19.3.0" targetFramework="net46" />
  <package id="Gnostice.DocumentStudio.WinForms.Free" version="19.3.0" targetFramework="net46" />
  <package id="HtmlAgilityPack" version="1.11.42" targetFramework="net46" />
  <package id="log4net" version="2.0.8" targetFramework="net46" />
  <package id="Microsoft-WindowsAPICodePack-Core" version="1.1.4" targetFramework="net46" />
  <package id="Microsoft-WindowsAPICodePack-Shell" version="1.1.4" targetFramework="net46" />
  <package id="Microsoft-WindowsAPICodePack-ShellExtensions" version="1.1.4" targetFramework="net46" />
  <package id="QrCode.Net" version="0.4.0.0" targetFramework="net46" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net46" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net46" />
</packages>